.ipad-pro-portrait {
  height: 532px;
  width: 738px;
  background: green;
  margin: 30px auto;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,1);
}

.bezel {
  background: linear-gradient(top, rgba(255,255,255,1) 5%, rgba(73,74,76,1) 10%, rgba(221,222,224,1) 25%, rgba(221,222,224,1) 75%, rgba(73,73,75,1) 90%, rgba(255,255,255,1) 95%);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 97%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: linear-gradient(left, rgba(82,82,84,1) 0%, rgba(222,222,224,1) 13%, rgba(221,222,224,1) 61%, rgba(84,84,86,1) 95%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  }
}

.casing {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: #f4f5f7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid #cdcdcf;
  border-radius: 22px;
}

.camera {
  height: 8px;
  width: 8px;
  background: #11153a;
  border-radius: 50%;
  position: absolute;
  left: 3.4%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  box-sizing: border-box;
  border-bottom: 1px solid #0a0e33;
}

.home-btn {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.8%;
  margin: auto 0;
  background: linear-gradient(170deg, rgba(64,65,67,1) 0%, rgba(64,65,67,1) 25%, rgba(233,234,236,1) 38%, rgba(233,234,236,1) 63%, rgba(64,65,67,1) 94%, rgba(64,65,67,1) 100%);
  // box-sizing: border-box;
  border: 1px solid #e9eaec;

  &::after {
    content: "";
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    border-radius: 50%;
    background: #f4f5f7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.screen {
  position: absolute;
  height: 90%;
  width: 85%;
  // background: grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  border: 2px solid #292929;
  border-radius: 2px;
  background-size: cover;
    background-image:
  radial-gradient(
    circle at top right,
    #f9f6f2 1%,
    #d43f81 15%,
    #1d368a 60%,
    #f9f6f2 100%
  );
}
