body {
  background: #d7f4eb;
}

.container {
  width: 24rem;
  height: 24rem;
  margin: 2rem auto;
  border-radius: 50%;
  border: 1px solid #a0d4ce;
}

.head {
  background: #6f4f4f;
  width: 70%;
  height: 70%;
  border-radius: 50% 50% 40% 40%;
  margin: 18% auto;
  position: relative;
}

.ear {
  height: 30%;
  width: 30%;
  background: #6f4f4f;
  position: absolute;
  z-index: -1;

  &::before {
    content: '';
    height: 80%;
    width: 80%;
    background: #89725a;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
  }
}

.ear.left {
  left: 0;
  top: 0;
  border-radius: 70% 50%;
}

.ear.right {
  right: 0;
  top: 0;
  border-radius: 50% 70%;
}

.eye {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: #fff;
  top: 45%;

  &::before {
    content: '';
    width: 50%;
    height: 50%;
    background: #000;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 25%;
    border-radius: 50%;
  }

  &::after {
    content: '';
    width: 100%;
    height: 50%;
    background: #563a3a;
    position: absolute;
    border-radius: 50% 50% 0 0;
    z-index: 2;
  }
}

.eye.left {
  left: 15%;
}

.eye.right {
  right: 15%;
}

.nose {
  height: 10%;
  width: 10%;
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 25%;
  border-radius: 20% 15% 70%;
  transform: rotate(-135deg);
}

.mouth {
  position: absolute;
  width: 40%;
  height: 7%;
  background: #000;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 13%;
  border-radius: 50% 50% 0 0;

  &::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 20%;
    height: 60%;
    left: 28%;
  }

    &::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 20%;
    height: 60%;
    right: 28%;
  }
}
